<div ng-repeat="order in orders">
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in order.items">
            <img ng-src="/images/{{item.color}}.jpg" class="md-avatar" alt="{{item.brand}}"/>
            <div class="md-list-item-text">
                <h3>{{item.brand}}</h3>
                <p>{{item.color}}</p>
                <p>{{item.price}}</p>
            </div>
            <md-button class="md-secondary md-icon-button" aria-label="Remove" ng-click="order.removeItem(item.sku)">
                <md-icon class="material-icons md-accent">remove_circle</md-icon>
            </md-button>
        </md-list-item>
    </md-list>
    <div class="md-title">Total: {{order.getTotalPrice()}}</div>
    <md-button ng-href="#!/checkout" class="md-raised md-primary">Next</md-button>
</div>
