<md-grid-list md-cols="2" md-gutter="1em" md-row-height="370px">
    <md-grid-tile ng-repeat="item in tshirts">
        <md-card md-theme="{{ 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{item.brand}}</span>
                    <span class="md-subhead">{{item.color}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div class="md-media-xl card-media">
                    <img ng-src="/images/{{item.color}}.jpg" class="md-card-image" style="height:100%" alt="">
                </div>

                <md-card-actions layout="column">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon class="material-icons md-accent">favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Cart" ng-click="addItem(item)">
                        <md-icon class="material-icons md-primary">add_shopping_cart</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon class="material-icons">more_vert</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </md-grid-tile>
</md-grid-list>
